In [1]:
import pyspark as ps
import pyspark.sql.functions as f
from pyspark import SQLContext
from pyspark.sql.types import IntegerType, DateType, TimestampType
from datetime import datetime

In [2]:
spark = (ps.sql.SparkSession.builder 
        .master("local[4]") 
        .appName("sparkSQL exercise") 
        .getOrCreate()
        )
sc = spark.sparkContext

In [3]:
sc

In [4]:
sqlContext = SQLContext(sc)

In [5]:
df = sqlContext.read.csv("uk100.csv", header=True)

In [6]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- rank: string (nullable = true)
 |-- last_week_rank: string (nullable = true)
 |-- hmm: string (nullable = true)
 |-- title: string (nullable = true)
 |-- artist: string (nullable = true)
 |-- label: string (nullable = true)
 |-- peak_rank: string (nullable = true)
 |-- weeks_on_chart: string (nullable = true)
 |-- week_of: string (nullable = true)

In [7]:
df.createOrReplaceTempView('test')

In [8]:
spark.sql('''SELECT *
            FROM test
            LIMIT 30
            ''').show()

+---+----+--------------+--------+--------------------+--------------------+--------------------+---------+--------------+----------------+
|_c0|rank|last_week_rank|     hmm|               title|              artist|               label|peak_rank|weeks_on_chart|         week_of|
+---+----+--------------+--------+--------------------+--------------------+--------------------+---------+--------------+----------------+
|  0|   1|            11|        |               RIVER|      ELLIE GOULDING|             POLYDOR|        1|             5|December 27 2019|
|  1|   2|             8|        |ALL I WANT FOR CH...|        MARIAH CAREY|            COLUMBIA|        2|            99|December 27 2019|
|  2|   3|             5|        |      LAST CHRISTMAS|                WHAM|                 RCA|        2|            64|December 27 2019|
|  3|   4|            14|        |FAIRYTALE OF NEW ...|POGUES FT KIRSTY ...|         WARNER BROS|        2|            99|December 27 2019|
|  4|   5|             2|        |              OWN IT|STORMZY/ED SHEERA...|      ATLANTIC/MERKY|        2|             5|December 27 2019|
|  5|   6|            16|        |MERRY CHRISTMAS E...|     SHAKIN' STEVENS|                 RCA|        1|            71|December 27 2019|
|  6|   7|            17|        |DO THEY KNOW IT'S...|            BAND AID|             MERCURY|        1|            80|December 27 2019|
|  7|   8|            19|        | STEP INTO CHRISTMAS|          ELTON JOHN|             MERCURY|        8|            38|December 27 2019|
|  8|   9|            34|        |HAPPY CHRISTMAS (...|         JOHN LEGEND|            COLUMBIA|        9|             3|December 27 2019|
|  9|  10|            29|        |I WISH IT COULD B...|             WIZZARD|                 EMI|       10|            57|December 27 2019|
| 10|  11|            24|        |IT'S BEGINNING TO...|       MICHAEL BUBLE|             REPRISE|        7|            33|December 27 2019|
| 11|  12|             3|        |       BEFORE YOU GO|       LEWIS CAPALDI|                 EMI|        2|             6|December 27 2019|
| 12|  13|            28|        |       SANTA TELL ME|       ARIANA GRANDE|    REPUBLIC RECORDS|       13|            18|December 27 2019|
| 13|  14|             4|        |     DON'T START NOW|            DUA LIPA|      WARNER RECORDS|        2|             8|December 27 2019|
| 14|  15|            25|        |      ONE MORE SLEEP|         LEONA LEWIS|          SYCO MUSIC|        3|            23|December 27 2019|
| 15|  16|             7|        |             ROXANNE|      ARIZONA ZERVAS|          SONY MUSIC|        5|             8|December 27 2019|
| 16|  17|            36|        |SANTA'S COMING FO...|                 SIA|ATLANTIC/MONKEY P...|       17|            12|December 27 2019|
| 17|  18|            32|        |ROCKIN' AROUND TH...|          BRENDA LEE|                 MCA|        6|            47|December 27 2019|
| 18|  19|            31|        |MERRY XMAS EVERYBODY|               SLADE|                UMTV|        1|            98|December 27 2019|
| 19|  20|            10|        |        DANCE MONKEY|           TONES & I|          PARLOPHONE|        1|            21|December 27 2019|
+---+----+--------------+--------+--------------------+--------------------+--------------------+---------+--------------+----------------+
only showing top 20 rows

## Drop unneeded columns and cast the rest to the correct types.

In [10]:
df = df.drop('_c0')
df = df.drop('hmm')

for col in df.columns:
    df = df.withColumn(col, f.lower(f.col(col)))

df = df.withColumn("rank", df["rank"].cast(IntegerType()))
df = df.withColumn("peak_rank", df["peak_rank"].cast(IntegerType()))
df = df.withColumn("weeks_on_chart", df["weeks_on_chart"].cast(IntegerType()))

def to_date(x):
    return datetime.strptime(x, '%B %d %Y')
change_to_datetype = f.udf(lambda y: to_date(y), DateType())

df = df.withColumn("week_of", change_to_datetype('week_of'))

In [11]:
df.printSchema()

root
 |-- rank: integer (nullable = true)
 |-- last_week_rank: string (nullable = true)
 |-- title: string (nullable = true)
 |-- artist: string (nullable = true)
 |-- label: string (nullable = true)
 |-- peak_rank: integer (nullable = true)
 |-- weeks_on_chart: integer (nullable = true)
 |-- week_of: date (nullable = true)

In [12]:
df.createOrReplaceTempView('test')

## Total Count

In [13]:
spark.sql('''
        SELECT COUNT(*)
        FROM test
        ''').show()

+--------+
|count(1)|
+--------+
|   26000|
+--------+

In [38]:
spark.sql('''
        SELECT *
        FROM test
        ''').show()

+----+--------------+--------------------+--------------------+--------------------+---------+--------------+----------+
|rank|last_week_rank|               title|              artist|               label|peak_rank|weeks_on_chart|   week_of|
+----+--------------+--------------------+--------------------+--------------------+---------+--------------+----------+
|   1|            11|               river|      ellie goulding|             polydor|        1|             5|2019-12-27|
|   2|             8|all i want for ch...|        mariah carey|            columbia|        2|            99|2019-12-27|
|   3|             5|      last christmas|                wham|                 rca|        2|            64|2019-12-27|
|   4|            14|fairytale of new ...|pogues ft kirsty ...|         warner bros|        2|            99|2019-12-27|
|   5|             2|              own it|stormzy/ed sheera...|      atlantic/merky|        2|             5|2019-12-27|
|   6|            16|merry christmas e...|     shakin' stevens|                 rca|        1|            71|2019-12-27|
|   7|            17|do they know it's...|            band aid|             mercury|        1|            80|2019-12-27|
|   8|            19| step into christmas|          elton john|             mercury|        8|            38|2019-12-27|
|   9|            34|happy christmas (...|         john legend|            columbia|        9|             3|2019-12-27|
|  10|            29|i wish it could b...|             wizzard|                 emi|       10|            57|2019-12-27|
|  11|            24|it's beginning to...|       michael buble|             reprise|        7|            33|2019-12-27|
|  12|             3|       before you go|       lewis capaldi|                 emi|        2|             6|2019-12-27|
|  13|            28|       santa tell me|       ariana grande|    republic records|       13|            18|2019-12-27|
|  14|             4|     don't start now|            dua lipa|      warner records|        2|             8|2019-12-27|
|  15|            25|      one more sleep|         leona lewis|          syco music|        3|            23|2019-12-27|
|  16|             7|             roxanne|      arizona zervas|          sony music|        5|             8|2019-12-27|
|  17|            36|santa's coming fo...|                 sia|atlantic/monkey p...|       17|            12|2019-12-27|
|  18|            32|rockin' around th...|          brenda lee|                 mca|        6|            47|2019-12-27|
|  19|            31|merry xmas everybody|               slade|                umtv|        1|            98|2019-12-27|
|  20|            10|        dance monkey|           tones & i|          parlophone|        1|            21|2019-12-27|
+----+--------------+--------------------+--------------------+--------------------+---------+--------------+----------+
only showing top 20 rows

## Count of distinct titles (songs with same names included)

In [15]:
spark.sql('''
        SELECT COUNT(DISTINCT title)
        FROM test
        ''').show()

+---------------------+
|count(DISTINCT title)|
+---------------------+
|                 2416|
+---------------------+

## Number of distinct titles that have reached rank 1

In [16]:
spark.sql('''
        SELECT COUNT(DISTINCT title)
        FROM test
        WHERE rank == 1''').show()

+---------------------+
|count(DISTINCT title)|
+---------------------+
|                   77|
+---------------------+

## Number of unique songs

In [26]:
num_unique_songs = spark.sql('''
        SELECT artist, title
        FROM test
        GROUP BY artist, title''')

In [27]:
num_unique_songs.count()

2605

In [18]:
spark.sql('''
        SELECT COUNT(*)
        FROM(
            SELECT artist, title
            FROM test
            GROUP BY artist, title)
        ''').show()

+--------+
|count(1)|
+--------+
|    2605|
+--------+

## How many weeks did these songs stay at rank 1

In [28]:
spark.sql('''
            SELECT DISTINCT artist, title, COUNT(*) as num_weeks, MIN(week_of)
            FROM test
            WHERE rank == 1
            GROUP BY 1, 2
            ORDER BY 3 DESC
            ''').show()

+--------------------+--------------------+---------+------------+
|              artist|               title|num_weeks|min(week_of)|
+--------------------+--------------------+---------+------------+
|drake ft wizkid &...|           one dance|       15|  2016-04-15|
|          ed sheeran|        shape of you|       14|  2017-01-13|
|           tones & i|        dance monkey|       11|  2019-10-04|
|luis fonsi/daddy ...|   despacito (remix)|       11|  2017-05-12|
|        clean bandit|            rockabye|        9|  2016-11-11|
|               drake|          god's plan|        9|  2018-01-26|
|ed sheeran & just...|        i don't care|        8|  2019-05-17|
|calvin harris & d...|            one kiss|        8|  2018-04-20|
|       lewis capaldi|   someone you loved|        7|  2019-03-01|
|       justin bieber|       love yourself|        6|  2015-12-04|
|shawn mendes/cami...|            senorita|        6|  2019-07-12|
|       ariana grande|        thank u next|        6|  2018-11-09|
|          ed sheeran|             perfect|        6|  2017-12-08|
|calvin harris & s...|            promises|        6|  2018-09-07|
|ed sheeran ft sto...|take me back to l...|        5|  2019-08-30|
|       justin bieber|    what do you mean|        5|  2015-09-04|
|        lukas graham|             7 years|        5|  2016-02-12|
|major lazer/justi...|          cold water|        5|  2016-07-29|
|camila cabello ft...|              havana|        5|  2017-11-03|
|               drake|      in my feelings|        4|  2018-07-20|
+--------------------+--------------------+---------+------------+
only showing top 20 rows

## Total number of appearances on the top 100, in order

In [31]:
spark.sql('''
            SELECT DISTINCT artist, title, COUNT(*) as num_weeks, MIN(week_of)
            FROM test
            WHERE peak_rank == 1
            GROUP BY 1,2
            ORDER BY 3 DESC
            ''').show()

+--------------------+-------------------+---------+------------+
|              artist|              title|num_weeks|min(week_of)|
+--------------------+-------------------+---------+------------+
|          ed sheeran|       shape of you|       97|  2017-01-13|
|          ed sheeran|  thinking out loud|       90|  2015-01-11|
|          ed sheeran|            perfect|       81|  2017-12-08|
|         george ezra|            shotgun|       74|  2018-06-29|
|mark ronson ft br...|        uptown funk|       72|  2015-01-11|
|luis fonsi/daddy ...|  despacito (remix)|       71|  2017-05-12|
|       justin bieber|              sorry|       65|  2015-11-20|
|drake ft wizkid &...|          one dance|       64|  2016-04-15|
|       justin bieber|      love yourself|       62|  2015-12-04|
|       justin bieber|   what do you mean|       62|  2015-09-04|
|            dua lipa|          new rules|       61|  2017-08-18|
|       years & years|               king|       59|  2015-03-08|
|lady gaga & bradl...|            shallow|       57|  2018-10-26|
|      ellie goulding|love me like you do|       57|  2015-02-08|
|calvin harris & d...|           one kiss|       52|  2018-04-20|
|         jess glynne|       hold my hand|       51|  2015-03-29|
|        shawn mendes|           stitches|       51|  2016-01-22|
|        lukas graham|            7 years|       49|  2016-02-12|
|               adele|              hello|       49|  2015-10-30|
|clean bandit ft z...|           symphony|       48|  2017-04-28|
+--------------------+-------------------+---------+------------+
only showing top 20 rows

## Average number of weeks in the top 100 (songs that hit rank 1)

In [33]:
spark.sql('''
            SELECT AVG(num_weeks)
            FROM (SELECT DISTINCT title, COUNT(*) as num_weeks, MIN(week_of)
                    FROM test
                    WHERE peak_rank == 1
                    GROUP BY 1
                    ORDER BY 2 DESC)
            ''').show()

+------------------+
|    avg(num_weeks)|
+------------------+
|26.708661417322833|
+------------------+

## Average rank for the song "Shape of You" by Ed Sheeran

In [43]:
spark.sql('''
            SELECT ROUND(AVG(rank),2), MAX(weeks_on_chart)
            FROM test
            WHERE title = "shape of you"
            ''').show()

+-----------------------------------+-------------------+
|round(avg(CAST(rank AS BIGINT)), 2)|max(weeks_on_chart)|
+-----------------------------------+-------------------+
|                              42.52|                 97|
+-----------------------------------+-------------------+

## Average rank and number of weeks on chart

In [ ]:
spark.sql('''
            SELECT AVG()''')

In [69]:
spark.sql('''
            SELECT title, artist, COUNT(*), ROUND(AVG(rank),2), MIN(week_of) as week_entered
            FROM test
            GROUP BY 1,2
            ORDER BY 3 DESC
            ''').show()

+--------------------+--------------------+--------+-----------------------------------+------------+
|               title|              artist|count(1)|round(avg(CAST(rank AS BIGINT)), 2)|week_entered|
+--------------------+--------------------+--------+-----------------------------------+------------+
|             perfect|          ed sheeran|     110|                              48.09|  2017-03-10|
|       mr brightside|             killers|     105|                              84.86|  2015-04-19|
|        shape of you|          ed sheeran|      97|                              42.52|  2017-01-13|
|   thinking out loud|          ed sheeran|      90|                              56.27|  2015-01-11|
|             shotgun|         george ezra|      87|                              35.99|  2018-03-30|
|          chandelier|                 sia|      87|                              64.46|  2015-01-11|
|             lean on|major lazer ft mo...|      79|                              45.92|  2015-03-08|
|           let it go|           james bay|      77|                              65.03|  2015-03-29|
|          this is me|settle/greatest s...|      75|                              40.84|  2018-01-05|
|          photograph|          ed sheeran|      73|                               54.6|  2015-01-11|
|         uptown funk|mark ronson ft br...|      72|                              43.81|  2015-01-11|
|     shut up & dance|       walk the moon|      72|                              54.63|  2015-06-07|
|can't stop the fe...|   justin timberlake|      71|                              46.94|  2016-05-13|
|   despacito (remix)|luis fonsi/daddy ...|      71|                              51.11|  2017-05-12|
| hold back the river|           james bay|      68|                              47.06|  2015-01-11|
|               sorry|       justin bieber|      68|                              41.43|  2015-10-30|
|            stitches|        shawn mendes|      67|                              47.63|  2015-09-25|
|       cheap thrills|                 sia|      66|                              39.12|  2016-02-19|
|           new rules|            dua lipa|      66|                              43.92|  2017-07-14|
|   take me to church|              hozier|      66|                              46.67|  2015-01-11|
+--------------------+--------------------+--------+-----------------------------------+------------+
only showing top 20 rows

In [73]:
new_songs_2015_2019 = spark.sql('''
            SELECT *
            FROM (SELECT title, artist, COUNT(*), ROUND(AVG(rank),2), MIN(week_of) as week_entered
                FROM test
                GROUP BY 1,2
                ORDER BY 3 DESC)
            WHERE week_entered > "2015-01-11"''')

In [74]:
new_songs_2015_2019.createOrReplaceTempView('test2')

In [53]:
spark.sql('''
            SELECT AVG(count)
            FROM (SELECT title, artist, COUNT(*) as count
                FROM test
                GROUP BY 1,2
                HAVING count > 1
                ORDER BY 3)
            ''').show()

+------------------+
|        avg(count)|
+------------------+
|13.223092998955067|
+------------------+

In [ ]:
spark.sql()